{% extends 'base.html' %}

{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
<img src='{{user.image_url}}'>
<h1>{{user.first_name}} {{user.last_name}}</h1>
<a href='/users/{{user.id}}/edit'class='btn btn-primary'>EDIT</a>
<form action='/users/{{user.id}}/delete' method=POST>
    <button type=submit class='btn btn-warning'>DELETE</button>
</form>

<h2>Posts</h2>
<ul>
    {% for post in user.posts %}
        <li><a href='/posts/{{post.id}}'>{{post.title}}</a></li>
    {% endfor %}
</ul>
<a class='btn btn-primary' href='/users/{{user.id}}/posts/new'>Add Post</a>

{% endblock %}