{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block content %}
<h1>Create A User</h1>
<form method='POST' class="px-4">
    <div class="form-group">
        <label for="first_name">First Name: </label>
        <input class="form-control mr-2" id="first_name" name="first_name" type="text" placeholder='Enter a first name'>
    </div>
    <div class="form-group">
        <label for="last_name">Last Name: </label>
        <input class="form-control mr-2" id="last_name" name="last_name" type="text" placeholder='Enter a last name'>
    </div>
    <div class="form-group">
        <label for="image_url">Image URL: </label>
        <input class="form-control mr-2" id="image_url" name="image_url" type="url" placeholder='Provide an iamge of this user'>
    </div> 
    <button type="submit" class="btn btn-success">Add</button>
</form>
{% endblock %}